@*@model List<Sektor>*@
@using NewVizyonProject.Models.ViewModel
@model SektorVeKonuViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sektor</title>
</head>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/Ajax/SektorSave.js"></script>
<script src="~/Ajax/SektorUpdate.js"></script>
<script src="~/Ajax/SektorDelete.js"></script>


<body>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <div id="container" style="width:50%;">
        <button style="margin-left:200px;" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#mySaveModal">Yeni Sektör Kaydet</button>

        <br /><br />

        <div class="form-horizontal" style="margin-left:200px; margin-top:50px;">
            <div class="form-group">
                <div class="col-md-10" style="width:280px;">
                    @Html.DropDownList("DrpSektor", ViewBag.sektorData, "---Sektör Seçiniz", new { @class = "form-control dropdown" })
                </div>
            </div>
        </div>
    </div>
    @if (Model != null)
    {

        if (Model.sektors.Count != 0)
        {
            <table class="table table-bordered col-md-12" id="table" style="width:50%;margin-left:490px; margin-top:50px;">
                <tr style="font-weight:bold;">
                    <td class="col-md-4">Id</td>
                    <td class="col-md-4">Sektor Adı</td>
                    <td class="col-md-1">Sil</td>
                    <td class="col-md-1">Güncelle</td>
                </tr>
                @foreach (var item in Model.sektors)
                {
                    <tr>
                        <td>@item.SektorId</td>
                        <td>@item.SektorAdi</td>
                        <td><button class="btn btn-danger" onclick="ConfirmDelete('@item.SektorAdi','@item.SektorId')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></button></td>
                        <td><button class="btn btn-success" onclick="openDetail('@item.SektorAdi',@item.SektorId)"><span class="glyphicon glyphicon-edit"></span></button></td>
                    </tr>
                }
            </table>
        }
    }
</body>
</html>




@Html.Partial("_SektorVeKonuSil")
@Html.Partial("_SektorUpdate")
@Html.Partial("_YeniSektor")


